em.main-word {
    color: red;
    font-weight: bold;
}

table.freq-table {
    width: auto;
}
table.freq-table td,
table.freq-table th {
    line-height: 35px;
}
table.freq-table th {
    white-space: nowrap;
}
table.freq-table td.freq {
    position: relative;
}
table.freq-table div.freq {
    position: absolute;
    bottom: 0px;
    background-color: blue;
    opacity: 0.2;
    width: 30px;
}

/* tablesorter */

th.header {
    background-image: url(../img/bg.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    margin-left: -1px;
}

th.headerSortDown {
    background-image: url(../img/desc.gif);
}

th.headerSortUp {
    background-image: url(../img/asc.gif);
}
