{% extends "base.html" %}

{% block content %}

<h1>Sense frequencies with Russian Active Dictionary</h1>

<h3>Corpora</h3>

<ul>
    {% for ctx_path in context_paths %}
    <li>
    <a href="{{ handler.reverse_url('words', ctx_path) }}">
        {{ ctx_path }}</a>
    </li>
    {% end %}
</ul>

<h3>Compare corpora</h3>

<ul>
    {% for ctx_path_1 in context_paths %}
    {% for ctx_path_2 in context_paths %}
    {% if ctx_path_1 < ctx_path_2 %}
    <li>
    <a href="{{ handler.reverse_url('compare', ctx_path_1, ctx_path_2) }}">
        {{ ctx_path_1 }} with {{ ctx_path_2 }}</a>
    </li>
    {% end %}
    {% end %}
    {% end %}
</ul>

<h3>Downloads</h3>

<ul>
    <li>
    <a href="https://github.com/lopuhin/sensefreq">
        Source code
    </a>
    </li>

    <li>Word2Vec models in <a href="https://radimrehurek.com/gensim/">gensim</a>
    format:
    <ul>
        <li>
        <a href="{{ root }}sg_alldig_w5_d1024_m40.pkl">sg_alldig_w5_d1024_m40.pkl</a>
        </li>
        <li>
        <a href="{{ root }}sg_alldig_w5_d1024_m40.pkl.syn0.npy">sg_alldig_w5_d1024_m40.pkl.syn0.npy</a>
        </li>
        <li>
        <a href="{{ root }}sg_alldig_w5_d1024_m40.pkl.syn1.npy">sg_alldig_w5_d1024_m40.pkl.syn1.npy</a>
        </li>
    </ul>
    </li>

    <li>Weights (built from contexts): <a href="{{ root }}weights.7z">weights.7z</a>
    </li>
</ul>

<h3>Publications</h3>

<ul>
    <li>
    <a href="{{ root }}Automated_Word_Sense_Frequency_Estimation_for_Russian_Nouns_Lopukhina_et_al.pdf">
        Automated Word Sense Frequency Estimation for Russian Nouns, 2016.</a>
        Anastasiya Lopukhina, Konstantin Lopukhin, Grigory Nosyrev.
    </a>
    </li>
</ul>

{% end %}
