{% extends "base.html" %}

{% block content %}

<h1>Sense frequencies with Russian Active Dictionary</h1>

<h2>Corpora</h2>

<ul>
    {% for ctx_path in context_paths %}
    <li>
    <a href="{{ handler.reverse_url('words', ctx_path) }}">
        {{ ctx_path }}</a>
    </li>
    {% end %}
</ul>

<h2>Compare corpora</h2>

<ul>
    {% for ctx_path_1 in context_paths %}
    {% for ctx_path_2 in context_paths %}
    {% if ctx_path_1 < ctx_path_2 %}
    <li>
    <a href="{{ handler.reverse_url('compare', ctx_path_1, ctx_path_2) }}">
        {{ ctx_path_1 }} with {{ ctx_path_2 }}</a>
    </li>
    {% end %}
    {% end %}
    {% end %}
</ul>


{% end %}
