{% extends "base.html" %}

{% block content %}

<h1>{{ ctx_path }}</h1>

<h2>Statistics</h2>

<table class="table">
    <tbody>
    <tr>
        <th>First sense frequency</th>
        <td>{{ '%.2f' % first_sense_freq }}</td>
    </tr>
    <tr>
        <th>Second sense frequency</th>
        <td>{{ '%.2f' % second_sense_freq }}</td>
    </tr>
    <tr>
        <th>Avg number of senses with frequency &ge; {{ min_sense_threshold}}</th>
        <td>{{ '%.2f' % avg_senses_th }}</td>
    </tr>
    <tr>
        <th>Avg number of senses with at least one example</th>
        <td>{{ '%.2f' % avg_senses }}</td>
    </tr>
    <tr>
        <th>Ratio of words with one dominant (&ge; {{ max_sense_threshold}}) sense</th>
        <td>{{ '%.2f' % dominant_ratio }}</td>
    </tr>
    </tbody>
</table>


<h2>Words</h2>

<table class="table tablesorter freq-table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Senses</th>
        </tr>
    </thead>
    <tbody>
    {% for word, senses in words_senses %}
    <tr>
        <th><a href="{{ handler.reverse_url('word', ctx_path, word) }}">
                {{ word }}</a></th>
        <th>{{ len(senses) }}</th>
        {% include "_word_freq.html" %}
    </tr>
    {% end %}
    </tbody>
</table>

{% end %}
