{% extends "base.html" %}

{% block content %}

<table class="table tablesorter freq-table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Senses</th>
        </tr>
    </thead>
    <tbody>
    {% for word, n_senses, freqs in words %}
    <tr>
        <th>{{ word }}</th>
        <th>{{ n_senses }}</th>
        {% for freq in freqs %}
        <td class="freq">
            {{ '%.2f' % freq }}
            <div class="freq" style="height: {{ '%d%%' % int(freq * 100)}}"></div>
        </td>
        {% end %}
    </tr>
    {% end %}
    </tbody>
</table>

{% end %}
